<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conelshop" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/CONEL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity android:name=".ConfirmationActivity" >
        </activity>
        <activity android:name=".Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".Cart" />
        <activity android:name=".Favorites" />
        <activity android:name=".CreateNewPassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>